[access]
	inheritFrom = All-Projects
[project]
	description = z/VM cloud connector is a development sdk for manage z/VM.
[access "refs/*"]
	owner = group user/Mike Friesenegger (mfriesenegger)
[access "refs/for/refs/*"]
	read = group user/Mike Friesenegger (mfriesenegger)
	push = group user/Mike Friesenegger (mfriesenegger)
	label-Code-Review = -2..+2 group user/Mike Friesenegger (mfriesenegger)
	label-Verified = -1..+1 group user/Mike Friesenegger (mfriesenegger)
	rebase = group user/Mike Friesenegger (mfriesenegger)
	removeReviewer = group user/Mike Friesenegger (mfriesenegger)
	submit = group user/Mike Friesenegger (mfriesenegger)
[access "refs/heads/*"]
	read = group user/Mike Friesenegger (mfriesenegger)
	create = group user/Mike Friesenegger (mfriesenegger)
	push = +force group user/Mike Friesenegger (mfriesenegger)
	pushMerge = group user/Mike Friesenegger (mfriesenegger)
[access "refs/tags/*"]
	push = group user/Mike Friesenegger (mfriesenegger)
	push = +force group user/Mike Friesenegger (mfriesenegger)
